{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
	<main class="main">
		<aside class="sidebar">
			<nav class="nav">
				<div class="blue-icon">
					{% include 'icons/blue-logo.svg'%}
				</div>
				<ul>
					{% if app.user %}
						<li>
							<a class="stock" href="/stock">
								{% include 'icons/Stock.svg' %}
								Stock</a>
						</li>

						<li>
							<a class="gestion" href="/gestion">
								{% include 'icons/Scan.svg' %}
								Gestion</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</aside>
	</main>
{% endblock %}
