{% extends 'base.html.twig' %}

{% block title %}Réference
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('scan') }}
{% endblock %}

{% block body %}

	<section class="container">
		<a href="/gestion" class="return text-light">
			< Retour à la gestion du stock
		</a>

		<h1 class="title-enter-stock fw-bold text-light">Consommation partielle</h1>
<div class="center">
		{% include 'icons/scanconso.svg' %}
		<h1 class="text-scan text-light fw-bold">Scanner la référence
		</br>
		a consommer avec le boitier</h1>
	<form id="formScan" action="/consommation" method="POST">

		<input id="input" type="text" class="hidden" name="SKU" autofocus tabindex="-1"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="text" class="hidden"/>
		<input type="submit" class="hidden"/>
	</form>
	</div>
</section>

{% endblock %}
