
<form method="post" class="delete-form" action="{{ path('app_tracking_delete', {'id': tracking.id}) }}" onsubmit="return confirm('Êtes vous sûrs de vouloir supprimer ce produit du stock ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tracking.id) }}">
    <button class="bouton-suppr btn btn-outline-danger">Supprimer ce produit &nbsp {% include 'icons/delete.svg' %}</button>
</form>