@import "variables";

a.btn {
    width: 30rem;
    height: 15rem;
    border-radius: 40px;
}

.btn:hover {
    color: white;

}

div.col-12 {
    height: 90vh;
    margin-left: 2.5rem;
}

.all-gestion {
    padding-left: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    margin-top: 10rem;
}

.return-to-home {
    padding-top: 3rem;
    padding-bottom: 5%;
}

.three-buttons {
    padding-top: 5rem;
}

p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: $font-family-base;
    text-align: start;
    margin-left: 1rem;
}

.col-3 {
    text-align: end;
}

.return {
    margin-top: 2rem !important;
}

.text {
    color: #191926;
    font-size: 1rem;
    font-weight: lighter;
}

.reception {
    position: absolute;
    left: 19.4rem;
    top: -0.25rem;
    z-index: 2;
    border-radius: 0px 0px 40px 0px;
}

.arrow-left {
    position: absolute;
    left: 1.5rem;
    top: 11rem;
}

.all-new-product {
    padding-left: 120px;
}


.input-marge {
    margin-bottom: 3rem;
}

.contain {
    margin-top: 1rem;
}


.card-text {
    font-size: small;
    font-weight: normal;
}

.span-text {
    font-weight: bold;
}

.card-reference {
    margin-left: 24.5%;
    border-radius: 20px;
}

.gap {
    margin-top: 7.3rem;
}

.inutilisable,
.utilisable {
    position: absolute;
    bottom: 12.5rem;
    left: 27rem;
}

.inutilisabled,
.utilisabled {
    position: absolute;
    bottom: 10.5rem;
    left: 27rem;
}

a.button-impr {
    height: 2.5rem;
    width: 15rem;
    border-radius: 5px;
}

a.button-no-impr {
    color: $primary;
    height: 2.5rem;
}

.button-no-impression {
    height: 2.5rem !important;
    border-radius: 5px !important;
}

.button-return-no-impr {
    height: 4rem !important;
    border-radius: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.end-button {
display: grid;
justify-content: center;
gap: 1rem;
padding-top: 3rem;
}

.reference-no-impression {
    display: grid;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dont-forget {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}

.impression-or-no {
    display: flex;
    justify-content: end;
    width: 35rem;
}

.card-reference {
    width: 35rem;
}


.gestion-board {
    display: flex !important;
    justify-content: center !important;
}

.first-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.modif-title {
    margin: 0 !important;
}

.suppr-modif {
    justify-content: end;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.modif-suppr {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.bouton-suppr {
    height: 2.5rem;
    width: 14rem;
}

.bt-return {
    height: 2.5rem;
    width: 14rem;
}

@media (min-width: 1281px) {

    .title-enter-stock {
        margin-top: 18rem;
    }

    h1.modif-title {
        margin-top: 10rem !important;
    }

    h1.title-no-impression {
        margin-left: 14% !important;
        position: absolute !important;
        top: 12.5% !important;
    }

    a.return {
        position: absolute !important;
        top: 15rem;
        z-index: 100;
    }

    .validation {
        position: absolute !important;
        left: 38% !important;
        top: 7% !important;
    }

    img.datamatrix {
        margin-top: 2rem;
    }
}


@media (min-width: 1921px) {

    .title-enter-stock {
        margin-top: 18rem;
    }

    h1.modif-title {
        margin-top: 22rem !important;
    }


    h1.title-no-impression {
        margin-left: 14% !important;
        position: absolute !important;
        top: 12.5% !important;
    }

    a.return {
        position: absolute !important;
        top: 15rem;
        z-index: 100;
    }

    .validation {
        position: absolute !important;
        left: 41% !important;
        top: 12% !important;
    }
}

@media print {
    @page {
        size: landscape !important; /* Taille de la page pour votre étiquette */
    }

    .DO-NOT-PRINT {
        display: none !important;
    }

    body {
        width: 100% !important; /* Largeur de la page */
        height: 100% !important; /* Hauteur de la page */
        margin: 0 !important;
        padding: 0 !important;
    }

    .elementToPrint {
        position: relative !important; /* Utilisez "relative" plutôt que "absolute" pour le dimensionnement */
        width: 200% !important; /* Définissez la largeur de l'élément à imprimer sur 200% */
        height: 200% !important; /* Définissez la hauteur de l'élément à imprimer sur 200% */
        z-index: 200 !important;
    }

    #element-a-imprimer {
        position: relative !important; /* Utilisez "relative" plutôt que "absolute" pour le dimensionnement */
        width: 200% !important; /* Définissez la largeur de l'élément à imprimer sur 200% */
        height: 200% !important; /* Définissez la hauteur de l'élément à imprimer sur 200% */
        z-index: 200 !important;
    }

    .card-body {
        position: relative !important; /* Utilisez "relative" plutôt que "absolute" pour le dimensionnement */
        width: 100% !important; /* Définissez la largeur de l'élément à imprimer sur 100% */
        height: 100% !important; /* Définissez la hauteur de l'élément à imprimer sur 100% */
        z-index: 100 !important;
    }

    .card-reference {
        position: relative !important; /* Utilisez "relative" plutôt que "absolute" pour le dimensionnement */
        width: 350% !important; /* Définissez la largeur de l'élément à imprimer sur 200% */
        height: 500% !important; /* Définissez la hauteur de l'élément à imprimer sur 200% */
        z-index: 200 !important;
    }

    .card-text {
        font-size: large !important;
        color: black !important;
        font-size: 8.4rem !important;
        padding-top: 9rem !important;
    }

    .card-title {
        color: black !important;
        margin-top: 20px !important;
        font-size: 10rem !important;
        margin-bottom: 8rem !important;
    }

    .datamatrix {
        position: absolute;
        bottom: 77rem !important;
        left: 105rem !important;
        transform: scale(1.5) !important;
    }

    span.utilisable {
        position: absolute !important;
        bottom: 77rem !important;
        left: 105rem !important;
        font-size: 5.7rem !important;
    }

    .price-card {
        flex-direction: column !important;
    }

    /* Supprimez les commentaires et ajustez les styles au besoin pour votre étiquette */

    * {
        margin: 0 !important;
        padding: 0 !important;
    }
}