@import "variables";

a.btn {
    width: 30rem;
    height: 15rem;
    border-radius: 40px;
}

.btn:hover {
    color: white;

}

div.col-12 {
    height: 90vh;
    margin-left: 2.5rem;
}

.all-gestion {
    padding-left: 120px;
    margin-top: 8rem;
}

#text {
    margin-top: 10rem;
}

p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: $font-family-base;
    text-align: start;
    margin-left: 1rem;
}

.col-3 {
    text-align: end;
}

.return {
    margin-top: 2rem !important;
}

.text {
    color: #191926;
    font-size: 1rem;
    font-weight: lighter;
}

.reception {
    position: absolute;
    left: 19.4rem;
    top: -0.25rem;
    z-index: 2;
    border-radius: 0px 0px 40px 0px;
}

.arrow-left {
    position: absolute;
    left: 1.5rem;
    top: 11rem;
}

.all-new-product {
    padding-left: 120px;
}

.container {
    margin-top: 3rem;
}

button.bt-return {
    margin-left: 49.2rem;
    margin-top: 3rem;
    width: 50%;
}

.input-marge {
    margin-bottom: 3rem;
}

.contain {
    margin-top: 1rem;
}

.title-enter-stock {
    margin-bottom: 4rem;
}

.card-text {
    font-size: small;
    font-weight: normal;
}

.span-text {
    font-weight: bold;
}

.card-reference {
    margin-left: 23%;
    margin-top: 15%;
    border-radius: 20px;
}

.gap {
    margin-top: 7.3rem;
}

.inutilisable,
.utilisable {
    position: absolute;
    bottom: 11.5rem;
    left: 27rem;
}

a.button-impr {
    width: auto;
    height: auto;
    border-radius: 5px;
}

a.button-no-impr {
    color: $primary;
}

button.bouton-suppr {
    position: absolute;
    bottom: 4rem;
}

h1.title-no-impression {
    margin-left: 20%;
    position: absolute;
    top: 20%;
}

.validation {
    position: absolute;
    left: 31%;
    top: 10%;
}

a.button-no-impression {
    margin-top: 1rem;
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-left: 23.2%;

}

.card-reference {
    width: 35rem;
    margin-bottom: 3rem;
}

.delete-form {
    position: absolute;
    top: 62rem;
    width: 15rem;
}

.gestion-board {
    display: flex !important;
    justify-content: center !important;
}

.first-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}



@media (min-width: 1281px) {
    a.bouton {
        margin-left: 70%;
        margin-top: 3rem;
    }

    a.bout-recep {
        margin-top: 15rem;
        margin-left: 4rem;
    }

    a.bout-cons {
        margin-top: 15rem;
        margin-right:
            1.3rem;
    }

    .title-enter-stock {
        margin-top: 18rem;
    }

    h1.modif-title {
        margin-top: 10rem !important;
    }

    button.bouton-suppr {
        position: absolute !important;
        bottom: 15rem !important;
    }

    h1.title-no-impression {
        margin-left: 14% !important;
        position: absolute !important;
        top: 12.5% !important;
    }

    a.return {
        position: absolute !important;
        top: 15rem;
        z-index: 100;
    }

    .validation {
        position: absolute !important;
        left: 38% !important;
        top: 7% !important;
    }

    img.datamatrix {
        margin-top: 2rem;
    }
}


@media (min-width: 1921px) {
    a.bouton {
        margin-left: 75%;
        margin-top: 3rem;
    }

    a.bout-recep {
        margin-top: 21rem;
        margin-left: 5.5rem;
    }

    a.bout-cons {
        margin-top: 21rem;
        margin-right:
            1.3rem;
    }

    .title-enter-stock {
        margin-top: 18rem;
    }

    h1.modif-title {
        margin-top: 22rem !important;
    }

    button.bouton-suppr {
        position: absolute !important;
        bottom: 24rem !important;
    }

    h1.title-no-impression {
        margin-left: 14% !important;
        position: absolute !important;
        top: 12.5% !important;
    }

    a.return {
        position: absolute !important;
        top: 15rem;
        z-index: 100;
    }

    .validation {
        position: absolute !important;
        left: 41% !important;
        top: 12% !important;
    }
}

@media print {
    @page {
        size: landscape !important;
    }

    .DO-NOT-PRINT {
         display: none !important; 
    }

    .elementToPrint {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 100 !important;
    }

    #element-a-imprimer  {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 100 !important;
    }

    .card-reference {
        margin-left: 0 !important;
        margin-top: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }

    body {
    width: 760% !important;
    height: 510px !important;
    }

    .card-text {
        font-size: large !important;
        color: black !important;
        font-size: 4.4rem !important;
        padding-top: 5rem !important;
    }

    .card-title {
        color: black !important;
        margin-top: 20px !important;
        font-size: 6rem !important;
        margin-bottom: 4rem !important;
    }

    .datamatrix {
        margin-top: 90px !important;
        margin-right: 100px !important;
        transform: scale(1.5) !important;
    }

    span.utilisable {
        position: absolute !important;
        bottom: 77rem !important;
        left: 105rem !important;
        font-size: 5.7rem !important;
    }

    .price-card {
        flex-direction: column !important;
    }

}