@import "variables";

.sidebar {
  position: fixed;
  width: 6%;
  height: 100vh;
  background-color: #D6EBFF;
  font-size: 1rem;
  height: 95%;
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  bottom: 0;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

a.logout {
  position: absolute;
  top: 13rem;
  left: 0.8rem;
}


.blue-icon {
  position: absolute;
  bottom: 28rem;
  left: 0rem;
}

.nav ul {
  list-style: none;
  padding: 0;

  li {
    position: relative;
    margin: 3.2em 0;
  }

  .active {
    border-bottom: 2px solid $primary;
    width: fit-content;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    display: block;
    transition: all ease-out 300ms;
    font-family: $font-family-base;
    text-align: center;
  }

  &:not(.active):hover a {
    color: $primary;
  }
}

@media (min-width: 1201px) {
  .blue-icon {
    position: absolute;
    bottom: 35rem;
    left: 1rem;
  }

  a.logout {
    position: absolute;
    top: 20rem;
    left: 1.8rem;
  }
}

@media (min-width: 1921px) {
  .blue-icon {
    position: absolute;
    bottom: 40rem;
    left: 2rem;
  }

  a.logout {
    position: absolute;
    top: 30rem;
    left: 2.5rem;
  }
}