@import "variables";

.card-body {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.logo {
    margin-top: 10rem;
    margin-left: 9rem;
    margin-bottom: 5rem;
}

.form-control {
    width: 60%;
    margin-left: 7.5rem;
}

label {
    margin-left: 7.5rem;
}

.text-black-50 {
    margin-left: 7.5rem;
}

.btn {
    margin-left: 7.5rem;
    width: 60%;
}