@import "variables";

body {
    background-color: $primary;
}

.hidden {
    opacity: 0;
}

form {
    position: absolute;
}

.reset-inputs {
    text-decoration: underline !important;
}

.reset-inputs:hover {
    color: var(--primary) !important;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

label.form-label {
    display: none;
}

.linear-bar {
    background-color: rgba(217, 217, 217, 0.28);
    width: 4px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 37rem;
}

a.return {
    position: absolute;
    top: 3rem;
    z-index: 100;
}

.title-enter-stock {
    position: absolute;
    top: 4.5rem;
}

.svg-check {
    justify-content: center;
    height: 93vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.suivi-check {
    justify-content: center;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.text-scanner {
    margin-top: 1rem;
}

h1.text-scan {
    text-align: center;
    margin-top: 5rem;
}

svg {
    margin-top: 4rem;
}

.excel-svg {
    margin-top: 0rem !important;
}


.button-return-no-impr {
    height: 3rem;
    width: 14rem;
    border-radius: 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: bold;
}



a {
    text-decoration: none !important;
}

.button-checkout {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 40rem;
    left: 60rem;

}

.button-check {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 40rem;
    left: 45rem;
    background-color: rgba(214, 235, 255, 0.15) !important;
    color: white !important;

}

.sku-item {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}


input.hidden {
    margin-left: 20rem;
    pointer-events: none;
}

.checkout-sku {
    background-color: rgba(214, 235, 255, 0.15);
    border-radius: 3%;
    width: 85%;
    margin-left: 3rem;
    height: 60vh;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-top: 2rem;
    color: white;
    overflow-y: scroll;
    scrollbar-color: grey;
}

.delete-button {
    font-size: smaller;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none;
    margin-right: 1rem !important;
    margin-left: 3rem;
}


.select-month {
    display: flex;
    top: 16%;
    width: 25rem;
    left: 58.5%;
}

.submit-select-month {
    background-color: rgba(214, 235, 255, 0.15);
    color: white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
    margin-left: 1rem;
}

@media (min-width: 1281px) {
    a.return {
        position: absolute;
        top: 3rem;
        left: 4rem;
    }
    .delete-button {
        margin-left: 10rem;
    }

    .title-enter-stock {
        position: absolute;
        top: 4.5rem;
        left: 4rem;
    }

    .checkout-sku {
        height: 50vh;
        margin-top: 0;
        margin-left: 6rem;
    }

    .linear-bar {
        position: absolute;
        left: 56rem;
    }

    svg {
        transform: scale(1.2);
    }

    h1.text-scanner {
        text-align: center;
        margin-top: 5rem;
    }

    .button-checkout {
        top: 50rem;
        left: 86rem;
    }

    .button-check {
        top: 50rem;
        left: 68rem;
    
    }

    #stock_data_matrix {
        display: grid;
        grid-template-columns: 2fr repeat(1, 2fr); 
    }
}


@media (min-width: 1921px) {
    a.return {
        position: absolute;
        top: 3rem;
        left: 4rem;
    }

    .title-enter-stock {
        position: absolute;
        top: 4.5rem;
        left: 4rem;
    }

    svg {
        transform: scale(1.5);

    }

    .checkout-sku {
        height: 50vh;
        margin-top: 0;
    }

    h1.text-scanner {
        text-align: center;
        margin-top: 7.5rem;
    }

    .linear-bar {
        position: absolute;
        left: 80rem;
    }

    .svg-check {
        padding-right: 10rem;
    }



}