@import "variables";

body {
    background-color: $primary;
}

.hidden {
    opacity: 0;
}
form {
    position: absolute;
}

a.return {
    position: absolute;
    top: 3rem;
    z-index: 100;
}

.title-enter-stock {
    position: absolute;
    top: 4.5rem;
}

svg {
    display: flex;
    margin: auto;
}

.center {
    display: grid;
    align-items: center;
    align-content: center;
    height: 100vh;
}

h1.text-scan {
    text-align: center;
    margin-top: 1rem;
}

input.hidden {
    margin-left: 20rem;
}

.checkout-sku {
    background-color: #D6EBFF;
    width: 100%;
    height: 70%;
}

@media (min-width: 1281px) {
    a.return {
        position: absolute;
        top: 3rem;
        left: 4rem;
    }
    
    .title-enter-stock {
        position: absolute;
        top: 4.5rem;
        left: 4rem;
    }
    
}


@media (min-width: 1921px) {
    a.return {
        position: absolute;
        top: 3rem;
        left: 4rem;
    }
    
    .title-enter-stock {
        position: absolute;
        top: 4.5rem;
        left: 4rem;
    }
    

}