@import "variables";


.all-stock {
padding-left: 120px;
}

.sidebar {
    margin-bottom: 2.5rem;
}

.table {
    --bs-table-bg: none;
}


.search-icon {
    padding-left: 0;
}

div.col {
    padding: 0;
}

input#search_sku_search {
    margin-left: 1.5rem;
}

.bout-search {
    margin-left: 1.5rem;

}

.excel-svg {
    margin-bottom: 0.3rem;
}


@media (min-width: 1201px) {
    .all-stock {
        padding-left: 0px;
    }
}