@import "variables";


.all-stock {
    padding-left: 160px;
}

.sidebar {
    margin-bottom: 2.5rem;
}

.table {
    --bs-table-bg: none;
}


.search-icon {
    padding-left: 0;
}

div.col {
    padding: 0;
}



input#search_sku_search {
    margin-left: 1.5rem;
}

input#search_one_search {
    margin-left: 1.5rem;
}

.bout-search {
    margin-left: 1.5rem;

}

.excel-svg {
    margin-bottom: 0.3rem;
}

.locked-content {
    position: fixed;
}

ul.nav.nav-tabs.mx-5 {
    border-bottom: none !important;
    justify-content: center;
    flex-direction: initial;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.table-scroll {
    width: 120%;
    /* Ajustez la largeur en fonction du nombre de colonnes */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

.fixed-col {
    position: sticky;
    left: 0;
    background-color: #F8F9FA !important;
    z-index: 100;
}


@media (min-width: 1281px) {
    .all-stock {
        padding-left: 0px;
    }
}