{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn my-5 btn-primary btn-lg text-white">{{ button_label|default('Sauvegarder') }}</button>

       <a href="/gestion" class="my-5 mx-5 text-decoration-none btn btn-lg btn-outline-primary">Revenir à la liste</a>
{{ form_end(form) }}
