{% extends 'base.html.twig' %}

{% block title %}Réception{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('stock') }}
{% endblock %}

{% block body %}
<section class="container">
    <h1 class="fw-bold text-primary my-5">Entrée en stock</h1>

    {{ include('stock/_form.html.twig') }}

    </section>
{% endblock %}
