{% extends 'base.html.twig' %}

{% block title %}Référence
{% endblock %}

{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('stock') }}
{% endblock %}

{% block body %}
<h1>Hey</h1>
{% endblock %}