@import "variables";

.card-title {
    margin-left: 0;
}

.return-element {
    padding-top: 3rem;
}

div.col-12 {
    height: 90vh;
    margin-left: 1rem;
}

.all-gestion {
    padding-left: 120px;
}

div.col {
    width: 3rem;
}

p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: $font-family-base;
    text-align: start;
    margin-left: 0.3rem;
}

.card-body {
    width: 30rem;
    margin-top: 7rem;
    margin-left: 2.5rem;
}



P.card-text {
    font-size: medium;
    font-weight: normal;
    margin-left: 1rem;
}

.text {
    font-size: medium;
    font-weight: normal;
}

.span-text {
    font-weight: bold;
}


.inutilisable,
.utilisable {
    position: absolute;
    bottom: 24rem;
    left: 2rem;
}


.card-reference {
    width: 35rem;
}

.re-scan {
    position: absolute;
    top: 4.5rem;
    left: 2rem;
    width: 16rem;
    height: 2.5rem;

}

.validation {
    position: absolute;
    top: 25rem;
    left: 14rem;
    width: 16rem;
    height: 2.5rem;
    justify-self: center;
    align-self: center;
    text-align: center;
}

div.modif-col {
    position: absolute;
    left: 43rem;
    top: 20rem;
}

input {
    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border:1px solid #0000002a;
}

@media (min-width: 1281px) {
    a.bouton {
        margin-left: 75%;
        margin-top: 3rem;
    }

    a.return {
        position: absolute;
        top: 1rem !important;
    }

    .re-scan {
        position: absolute;
        top: 15rem;
        left: 5rem;
        width: 16rem;
        height: 2.5rem;
    
    }


    input {
        position: absolute;
        left: 20rem;
        height: 3rem;
    }

    .size1 {
        position: absolute;
        top: 2.5rem;
        width: 90%;
    }

    .size1Unit {
        position: absolute;
        top: 3.5rem;
        left: 16.5rem;
    }

    .size2Unit {
        position: absolute;
        top: 8rem;
        left: 16.5rem;
    }

    .size2 {
        position: absolute;
        top: 7rem;
        width: 90%;

    }


    .size2rest {
        position: absolute;
        top: 6rem;
    }

    input.validation {
        position: absolute;
        top: 33rem !important;
        left: 40rem !important;
    }

    label.text {
        position: absolute;
        left: 40rem;
    }

    a.bout-recep {
        margin-top: 21rem;
        margin-left: 5.5rem;
    }

    a.bout-cons {
        margin-top: 21rem;
        margin-right:
            1.3rem;
    }

    .title-enter-stock {
        margin-top: 18rem;
    }

    h1.modif-title {
        margin-top: 22rem !important;
    }

    button.bouton-suppr {
        position: absolute !important;
        bottom: 24rem !important;
    }

    h1.title-no-impression {
        margin-left: 14% !important;
        position: absolute !important;
        top: 12.5% !important;
    }

    a.return {
        position: absolute !important;
        top: 15rem;
    }

    .validation {
        position: absolute !important;
        left: 38% !important;
        top: 10% !important;
    }

    label.size1rest {
        position: absolute;
        left: 20rem;
    }

    label.size2rest {
        position: absolute;
        left: 20rem;
    }

}


@media (min-width: 1921px) {
    a.bouton {
        margin-left: 75%;
        margin-top: 3rem;
    }

    a.return {
        position: absolute;
        top: 1rem !important;
    }

    .re-scan {
        position: absolute;
        top: 27rem;
        left: 15rem;
        width: 16rem;
        height: 2.5rem;
    
    }

    input {
        position: absolute;
        left: 40rem;
        height: 3rem;
    }

    .size1 {
        position: absolute;
        top: 2.5rem;
    }

    .size1Unit {
        position: absolute;
        top: 3.5rem;
        left: 40rem;
    }

    .size2Unit {
        position: absolute;
        top: 8rem;
        left: 40rem;
    }

    .size2 {
        position: absolute;
        top: 7rem;
    }


    .size2rest {
        position: absolute;
        top: 6rem;
    }

    input.validation {
        position: absolute;
        top: 45rem !important;
        left: 85rem !important;
    }

    label.text {
        position: absolute;
        left: 40rem;
    }

    a.bout-recep {
        margin-top: 21rem;
        margin-left: 5.5rem;
    }

    a.bout-cons {
        margin-top: 21rem;
        margin-right:
            1.3rem;
    }

    .title-enter-stock {
        margin-top: 18rem;
    }

    h1.modif-title {
        margin-top: 22rem !important;
    }

    

    button.bouton-suppr {
        position: absolute !important;
        bottom: 24rem !important;
    }

    h1.title-no-impression {
        margin-left: 14% !important;
        position: absolute !important;
        top: 12.5% !important;
    }

    a.return {
        position: absolute !important;
        top: 15rem;
    }

    .validation {
        position: absolute !important;
        left: 41% !important;
        top: 12% !important;
    }



}

@media print {
    @page {
        size: landscape !important;
    }

    .DO-NOT-PRINT {
        display: none !important;
    }

    .elementToPrint {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 100 !important;
    }

    #element-a-imprimer {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 100 !important;
    }

    .card-reference {
        margin-left: 0 !important;
        margin-top: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }

    body {
        width: 760% !important;
        height: 510px !important;
    }

    .card-text {
        font-size: large !important;
        color: black !important;
        font-size: 1.4rem !important;
    }

    .card-title {
        color: black !important;
        margin-top: 20px !important;
        font-size: 2.5rem !important;
    }

    .datamatrix {
        margin-top: 90px !important;
        margin-right: 40px !important;
        transform: scale(1.5) !important;
    }

    span.utilisable {
        margin-bottom: 170px !important;
        margin-left: 80px !important;
        font-size: 1.4rem !important;
    }

    .price-card {
        flex-direction: column !important;
    }

}