{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	{{ encore_entry_link_tags('gestion') }}
{% endblock %}

{% block body %}
	<section class="container">
		<div class="gestion d-flex">
			<div class="row">
				<div class="col-12">
					<a href="/stock/new" type="button" class="btn btn-primary btn-lg my-5 text-uppercase fw-bold text-light">
						<p>Récéption &nbsp
							{% include 'icons/reception.svg' %}</p>
					</a>
					<a href="" type="button" class="btn btn-primary btn-lg my-5 text-uppercase fw-bold text-light">
						<p>100% consommé &nbsp
							{% include 'icons/withdrawal.svg' %}</p>
					</a>

				</div>
			</div>
			<div class="row">
				<div class="col-12 justify-content-center">
					<a href="" type="button" class="btn btn-primary btn-lg my-5 text-uppercase fw-bold text-light">
						<p>Consommation &nbsp
							{% include 'icons/consommation.svg' %}</p>
					</a>
					<a href="/" type="button" class="btn btn-primary btn-lg my-5 text-uppercase fw-bold text-light">
						<p>Retour à la liste &nbsp
							{% include 'icons/return.svg' %}</p>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
