{% extends 'base.html.twig' %}

{% block title %}Edit StockDataMatrix{% endblock %}

{% block body %}
    <h1>Edit StockDataMatrix</h1>

    {{ include('stock_data_matrix/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stock_data_matrix_index') }}">back to list</a>

    {{ include('stock_data_matrix/_delete_form.html.twig') }}
{% endblock %}
