{% extends "base.html.twig" %}

{% block title %}
	Erreur de BDD
{% endblock %}

{% block body %}
	<section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center">
						<h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
							<span class="display-1 fw-bold">5</span>
							<i class="bi bi-exclamation-circle-fill text-danger display-4">0</i>
							<span class="display-1 fw-bold bsb-flip-h">0</span>
						</h2>
						<h3 class="h2 mb-2">Oops! Vous êtes perdus.</h3>
						<p class="mb-5">Il y a eu un petit soucis avec la base de données. Pas de craintes, essayer de revenir à la page précédentes grâce aux flèches présentes en haut à gauche du navigateur (normalerment) puis réésayer la manipulation voulue.</p>
					</br>
					Si vous êtes au niveau de la
					<span class="red --bs-danger">consommation totale</span>, cela peut vouloir dire que la référence a déjà été consommée !
				</br>
				Si vous êtes au niveau de la
				<span class="red --bs-danger">consommation partielle</span>, cela peut vouloir dire que les dimensions rentrées sont supérieures aux dimensions de base, veuillez vérifier !
			</p>
			Si vous êtes au niveau du
			<span class="red --bs-danger">check-out</span>, cela peut vouloir dire qu'une référence a été rentrée trop rapidement, veuillez revenir en arrière et réésayer !
		</p>
		<a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" href="{{ path('app_stock_index')}}" role="button">Revenez à l'accueil</a>
	</div>
</div></div></div></section>{% endblock %}
